{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@themepixels">
    <meta name="twitter:creator" content="@themepixels">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Amanda">
    <meta name="twitter:description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="twitter:image" content="http://themepixels.me/amanda/img/amanda-social.png">

    <!-- Facebook -->
    <meta property="og:url" content="http://themepixels.me/amanda">
    <meta property="og:title" content="Bracket">
    <meta property="og:description" content="Premium Quality and Responsive UI for Dashboard.">

    <meta property="og:image" content="http://themepixels.me/amanda/img/amanda-social.png">
    <meta property="og:image:secure_url" content="http://themepixels.me/amanda/img/amanda-social.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <!-- Meta -->
    <meta name="description" content="Premium Quality and Responsive UI for Dashboard.">
    <meta name="author" content="ThemePixels">


    <title>Amanda Responsive Bootstrap 4 Admin Template</title>

    <!-- vendor css -->
    <link href="{% static '/lib/font-awesome/css/font-awesome.css" rel="stylesheet' %}">
    <link href="{% static '/lib/Ionicons/css/ionicons.css' %}" rel="stylesheet">
    <link href="{% static '/lib/perfect-scrollbar/css/perfect-scrollbar.css' %}" rel="stylesheet">
    <link href="{% static '/lib/jquery-toggles/toggles-full.css' %}" rel="stylesheet">
    <link href="{% static '/lib/highlightjs/github.css' %}" rel="stylesheet">

    <!-- Amanda CSS -->
    <link rel="stylesheet" href="{% static '/css/amanda.css' %}">
</head>
<body>

<div class="am-header">
    <div class="am-header-left">
        <a id="naviconLeft" href="" class="am-navicon d-none d-lg-flex"><i class="icon ion-navicon-round"></i></a>
        <a id="naviconLeftMobile" href="" class="am-navicon d-lg-none"><i class="icon ion-navicon-round"></i></a>
        <a href="index.html" class="am-logo"></a>
    </div><!-- am-header-left -->
    <div class="am-header-right">
    </div><!-- am-header-right -->
</div><!-- am-header -->

<div class="am-sideleft">
    <div class="tab-content">
        <div id="mainMenu" class="tab-pane active">
            <ul class="nav am-sideleft-menu">
                <li class="nav-item">
                    <a class="nav-link active">
                        <i class="icon ion-ios-home-outline"></i>
                        <span>Menu</span>
                    </a>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="/adminProfile/manageMagasin/manage/welcome" class="nav-link">
                        <i class="icon ion-ios-briefcase-outline"></i>
                        <span>Magasin en ligne</span>
                    </a>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="/adminProfile/manageTravel/manage/welcome" class="nav-link">
                        <i class="icon ion-ios-briefcase-outline"></i>
                        <span>Site touristique</span>
                    </a>
                </li><!-- nav-item -->
                <li class="nav-item">
                    <a href="/adminProfile/manageDeals/manage/welcome" class="nav-link">
                        <i class="icon ion-ios-briefcase-outline"></i>
                        <span>Annonces immobilières</span>
                    </a>
                </li><!-- nav-item -->
            </ul>
        </div>
    </div><!-- tab-content -->
</div>
</div><!-- am-sideleft -->
<div class="am-mainpanel">
    <div class="am-pagetitle">
        <h5 class="am-title"><img src="{% static 'logo.png' %}" class="wd-32" alt="" style="width: 35%"></h5>
        </div><!-- am-pagetitle -->
    <div class="am-pagebody">
        <div class="d-flex align-items-center justify-content-center">
            <div class="wd-lg-70p wd-xl-50p tx-center pd-x-40">
                <h1 class="tx-100 tx-xs-140 tx-normal tx-gray-800 mg-b-0">404!</h1>
                <h5 class="tx-xs-24 tx-normal tx-orange mg-b-30 lh-5">The page your are looking for has not been
                    found.</h5>
                <p class="tx-16 mg-b-30">The page you are looking for might have been removed, had its name changed, or
                    unavailable. Maybe you could try a search:</p>
            </div>
        </div>
    </div>
</div>
<script src="{% static '/lib/jquery/jquery.js' %}"></script>
<script src="{% static '//lib/popper.js/popper.js' %}"></script>
<script src="{% static '//lib/bootstrap/bootstrap.js' %}"></script>
<script src="{% static '//lib/perfect-scrollbar/js/perfect-scrollbar.jquery.js' %}"></script>
<script src="{% static '//lib/jquery-toggles/toggles.min.js' %}"></script>
<script src="{% static '//lib/d3/d3.js' %}"></script>
<script src="{% static '//lib/rickshaw/rickshaw.min.js' %}"></script>
<script src="http://maps.google.com/maps/api/js?key=AIzaSyAEt_DBLTknLexNbTVwbXyq2HSf2UbRBU8"></script>
<script src="{% static '//lib/gmaps/gmaps.js' %}"></script>
<script src="{% static '//lib/Flot/jquery.flot.js' %}"></script>
<script src="{% static '//lib/Flot/jquery.flot.pie.js' %}"></script>
<script src="{% static '//lib/Flot/jquery.flot.resize.js' %}"></script>
<script src="{% static '//lib/flot-spline/jquery.flot.spline.js' %}"></script>

<script src="{% static '//js/amanda.js' %}"></script>
<script src="{% static '//js/ResizeSensor.js' %}"></script>
<script src="{% static '//js/dashboard.js' %}"></script>
</body>
</html>